.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: bold;
  padding-right: 5px;
}

.spacer {
  padding: 6px;
}

.title {
  line-height: 1.1;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 20px;
}

.description {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: darkgoldenrod;
}
